<h1>Editing person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :batch_id %><br />
    <%= f.text_field :batch_id %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :work_pattern %><br />
    <%= f.text_field :work_pattern %>
  </p>
  <p>
    <%= f.label :practice_service %><br />
    <%= f.text_field :practice_service %>
  </p>
  <p>
    <%= f.label :total_service %><br />
    <%= f.text_field :total_service %>
  </p>
  <p>
    <%= f.label :q1 %><br />
    <%= f.text_field :q1 %>
  </p>
  <p>
    <%= f.label :q2 %><br />
    <%= f.text_field :q2 %>
  </p>
  <p>
    <%= f.label :q3 %><br />
    <%= f.text_field :q3 %>
  </p>
  <p>
    <%= f.label :q4 %><br />
    <%= f.text_field :q4 %>
  </p>
  <p>
    <%= f.label :q5 %><br />
    <%= f.text_field :q5 %>
  </p>
  <p>
    <%= f.label :q6 %><br />
    <%= f.text_field :q6 %>
  </p>
  <p>
    <%= f.label :q7 %><br />
    <%= f.text_field :q7 %>
  </p>
  <p>
    <%= f.label :q8 %><br />
    <%= f.text_field :q8 %>
  </p>
  <p>
    <%= f.label :q9 %><br />
    <%= f.text_field :q9 %>
  </p>
  <p>
    <%= f.label :q10 %><br />
    <%= f.text_field :q10 %>
  </p>
  <p>
    <%= f.label :q11 %><br />
    <%= f.text_field :q11 %>
  </p>
  <p>
    <%= f.label :q12 %><br />
    <%= f.text_field :q12 %>
  </p>
  <p>
    <%= f.label :q13 %><br />
    <%= f.text_field :q13 %>
  </p>
  <p>
    <%= f.label :q14 %><br />
    <%= f.text_field :q14 %>
  </p>
  <p>
    <%= f.label :q15 %><br />
    <%= f.text_field :q15 %>
  </p>
  <p>
    <%= f.label :q16 %><br />
    <%= f.text_field :q16 %>
  </p>
  <p>
    <%= f.label :q17 %><br />
    <%= f.text_field :q17 %>
  </p>
  <p>
    <%= f.label :q18 %><br />
    <%= f.text_field :q18 %>
  </p>
  <p>
    <%= f.label :q19 %><br />
    <%= f.text_field :q19 %>
  </p>
  <p>
    <%= f.label :q20 %><br />
    <%= f.text_field :q20 %>
  </p>
  <p>
    <%= f.label :q21 %><br />
    <%= f.text_field :q21 %>
  </p>
  <p>
    <%= f.label :q22 %><br />
    <%= f.text_field :q22 %>
  </p>
  <p>
    <%= f.label :q23 %><br />
    <%= f.text_field :q23 %>
  </p>
  <p>
    <%= f.label :q24 %><br />
    <%= f.text_field :q24 %>
  </p>
  <p>
    <%= f.label :q25 %><br />
    <%= f.text_field :q25 %>
  </p>
  <p>
    <%= f.label :q26 %><br />
    <%= f.text_field :q26 %>
  </p>
  <p>
    <%= f.label :q27 %><br />
    <%= f.text_field :q27 %>
  </p>
  <p>
    <%= f.label :q28 %><br />
    <%= f.text_field :q28 %>
  </p>
  <p>
    <%= f.label :q29 %><br />
    <%= f.text_field :q29 %>
  </p>
  <p>
    <%= f.label :q30 %><br />
    <%= f.text_field :q30 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>