<p>
  <b>Batch:</b>
  <%=h @person.batch_id %>
</p>

<p>
  <b>Role:</b>
  <%=h @person.role %>
</p>

<p>
  <b>Gender:</b>
  <%=h @person.gender %>
</p>

<p>
  <b>Work pattern:</b>
  <%=h @person.work_pattern %>
</p>

<p>
  <b>Practice service:</b>
  <%=h @person.practice_service %>
</p>

<p>
  <b>Total service:</b>
  <%=h @person.total_service %>
</p>

<p>
  <b>Q1:</b>
  <%=h @person.q1 %>
</p>

<p>
  <b>Q2:</b>
  <%=h @person.q2 %>
</p>

<p>
  <b>Q3:</b>
  <%=h @person.q3 %>
</p>

<p>
  <b>Q4:</b>
  <%=h @person.q4 %>
</p>

<p>
  <b>Q5:</b>
  <%=h @person.q5 %>
</p>

<p>
  <b>Q6:</b>
  <%=h @person.q6 %>
</p>

<p>
  <b>Q7:</b>
  <%=h @person.q7 %>
</p>

<p>
  <b>Q8:</b>
  <%=h @person.q8 %>
</p>

<p>
  <b>Q9:</b>
  <%=h @person.q9 %>
</p>

<p>
  <b>Q10:</b>
  <%=h @person.q10 %>
</p>

<p>
  <b>Q11:</b>
  <%=h @person.q11 %>
</p>

<p>
  <b>Q12:</b>
  <%=h @person.q12 %>
</p>

<p>
  <b>Q13:</b>
  <%=h @person.q13 %>
</p>

<p>
  <b>Q14:</b>
  <%=h @person.q14 %>
</p>

<p>
  <b>Q15:</b>
  <%=h @person.q15 %>
</p>

<p>
  <b>Q16:</b>
  <%=h @person.q16 %>
</p>

<p>
  <b>Q17:</b>
  <%=h @person.q17 %>
</p>

<p>
  <b>Q18:</b>
  <%=h @person.q18 %>
</p>

<p>
  <b>Q19:</b>
  <%=h @person.q19 %>
</p>

<p>
  <b>Q20:</b>
  <%=h @person.q20 %>
</p>

<p>
  <b>Q21:</b>
  <%=h @person.q21 %>
</p>

<p>
  <b>Q22:</b>
  <%=h @person.q22 %>
</p>

<p>
  <b>Q23:</b>
  <%=h @person.q23 %>
</p>

<p>
  <b>Q24:</b>
  <%=h @person.q24 %>
</p>

<p>
  <b>Q25:</b>
  <%=h @person.q25 %>
</p>

<p>
  <b>Q26:</b>
  <%=h @person.q26 %>
</p>

<p>
  <b>Q27:</b>
  <%=h @person.q27 %>
</p>

<p>
  <b>Q28:</b>
  <%=h @person.q28 %>
</p>

<p>
  <b>Q29:</b>
  <%=h @person.q29 %>
</p>

<p>
  <b>Q30:</b>
  <%=h @person.q30 %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>